body{
  font-size: arial;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;
 background-image: url('./img/new-york-7577186_192011.jpg');
 background-position: center;
 background-size: cover;
  
}
button{
  background-color: #333974;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: .8;
  transition: .3s;

}
button:hover{
  opacity: 1;

}

.complete{
  background-color: #5cb85c;


}
.remove{

  background-color: #D9534f;
}



